* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .3s ease;
}

:root {
  --green : #65F200;
  --dark-color: #22272A;
  --brown: #5A423B;
}
a {
  text-decoration: none;
}
ul , li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url(./src/fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(./src/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(./src/fonts/OpenSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(./src/fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(./src/fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.3s ease;
  background: #F7F7F7;
}
.content {
  max-width: calc((1440px + 16px * 2));
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
.header {
  .logo-row {
    background-image: url("./src/images/texture.png");
    background-repeat: repeat;
    position: relative;
    height: 80px;
    width: 100%;
    @media (max-width: 1050px) {
      height: 67px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(90, 66, 59, 0.7);
      z-index: 1  ;
    }

    .content {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      height: 100%;
      .logo {
        display: block;
        height: 82px;
        width: 524px;
        img {
          width: 100%;
          height: 100%;
        }
        @media (max-width: 1050px) {
          display: none;
        }
      }
      .column {
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: 1050px) {
          width: 100%;
          justify-content: space-between;
        }

        .lc {
          display: flex;
          padding: 10px 15px;
          align-items: flex-start;
          gap: 11px;
          border-radius: 5px;
          background: var(--green);
          color: #22272A;
          font-family: "Open Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          height: fit-content;
          width: fit-content;
          &:hover {
            border-radius: 5px;
            background: #FFF;
          }
          @media (max-width: 1050px) {
            display: none;
          }
        }
        .burger-button {
          display: none;
          @media (max-width: 1050px) {
            display: block;
          }
        }
        .mobile-menu {
          display: flex;
          width: 100%;
          min-height: 100vh;
          height: 100%;
          overflow-y: auto;
          padding: 20px 0;
          flex-direction: column;
          align-items: flex-start;
          gap: 50px;
          background: var(--dark-color);
          position: fixed;
          top: 0;
          left: -2100px;
          opacity: 0;
          z-index: 3;
          transition: .5s ease;
          &.active {
            left: 0;
            opacity: 1;
            transition: .5s ease;
          }
          .close-row {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 33px;
            align-items: center;
            padding: 0 20px;
            &.close-row-inside {
              justify-content: space-between;
              align-items: center;
              .back {
                color: #FFF;
                font-family: "Myriad Pro";
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                gap: 20px;
                &::before {
                  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M14.7071 19.2071C15.0976 18.8166 15.0976 18.1834 14.7071 17.7929L9.41421 12.5L14.7071 7.20711C15.0976 6.81658 15.0976 6.18342 14.7071 5.79289C14.3166 5.40237 13.6834 5.40237 13.2929 5.79289L7.29289 11.7929C6.90237 12.1834 6.90237 12.8166 7.29289 13.2071L13.2929 19.2071C13.6834 19.5976 14.3166 19.5976 14.7071 19.2071Z' fill='%23ffffff'/%3E%3C/svg%3E");
                  display: block;
                  margin-top: 8px;
                }
              }
            }

            .close-btn {
              cursor: pointer;
            }
          }
          .lc-row {
            padding: 0 25px 0 40px;
            display: flex;
            justify-content: flex-start;
            .lc {
              display: flex;
              padding: 10px 15px;
              align-items: flex-start;
              gap: 11px;
              border-radius: 5px;
              background: var(--green);
              color: #22272A;
              font-family: "Open Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              height: fit-content;
              width: fit-content;
              &:hover {
                border-radius: 5px;
                background: #FFF;
              }
              @media (max-width: 1050px) {
                display: flex;
              }
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 0 25px 0 40px;
            width: 100%;
            li {
              a {
                color: #ACB7BD;
                font-family: "Open Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                gap: 20px;
                align-items: center;
                &:active {
                  color: var(--green);

                  &::before {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M10 12.5C10 13.6046 10.8954 14.5 12 14.5C13.1046 14.5 14 13.6046 14 12.5C14 11.3954 13.1046 10.5 12 10.5C10.8954 10.5 10 11.3954 10 12.5Z' fill='%2365F200'/%3E%3Cpath d='M10 6.5C10 7.60457 10.8954 8.5 12 8.5C13.1046 8.5 14 7.60457 14 6.5C14 5.39543 13.1046 4.5 12 4.5C10.8954 4.5 10 5.39543 10 6.5Z' fill='%2365F200'/%3E%3Cpath d='M10 18.5C10 19.6046 10.8954 20.5 12 20.5C13.1046 20.5 14 19.6046 14 18.5C14 17.3954 13.1046 16.5 12 16.5C10.8954 16.5 10 17.3954 10 18.5Z' fill='%2365F200'/%3E%3C/svg%3E");
                  }
                }
                &:hover {
                  color: var(--green);

                  &::before {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M10 12.5C10 13.6046 10.8954 14.5 12 14.5C13.1046 14.5 14 13.6046 14 12.5C14 11.3954 13.1046 10.5 12 10.5C10.8954 10.5 10 11.3954 10 12.5Z' fill='%2365F200'/%3E%3Cpath d='M10 6.5C10 7.60457 10.8954 8.5 12 8.5C13.1046 8.5 14 7.60457 14 6.5C14 5.39543 13.1046 4.5 12 4.5C10.8954 4.5 10 5.39543 10 6.5Z' fill='%2365F200'/%3E%3Cpath d='M10 18.5C10 19.6046 10.8954 20.5 12 20.5C13.1046 20.5 14 19.6046 14 18.5C14 17.3954 13.1046 16.5 12 16.5C10.8954 16.5 10 17.3954 10 18.5Z' fill='%2365F200'/%3E%3C/svg%3E");
                  }
                }
                &::before {
                  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M10 12.5C10 13.6046 10.8954 14.5 12 14.5C13.1046 14.5 14 13.6046 14 12.5C14 11.3954 13.1046 10.5 12 10.5C10.8954 10.5 10 11.3954 10 12.5Z' fill='%23ACB7BD'/%3E%3Cpath d='M10 6.5C10 7.60457 10.8954 8.5 12 8.5C13.1046 8.5 14 7.60457 14 6.5C14 5.39543 13.1046 4.5 12 4.5C10.8954 4.5 10 5.39543 10 6.5Z' fill='%23ACB7BD'/%3E%3Cpath d='M10 18.5C10 19.6046 10.8954 20.5 12 20.5C13.1046 20.5 14 19.6046 14 18.5C14 17.3954 13.1046 16.5 12 16.5C10.8954 16.5 10 17.3954 10 18.5Z' fill='%23ACB7BD'/%3E%3C/svg%3E");
                  display: block;
                  margin-top: 5px;
                }

              }
            }
          }
          .mobile-contacts {
            padding: 0 25px 0 40px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            ul {
              padding: 0;
              padding-top: 50px;
              border-top: 1px solid #575D61;
              display: flex;
              flex-direction: column;
              gap: 50px;
              li {
                a {
                  color: #FFF;
                  font-family: "Open Sans";
                  font-size: 25px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  &::before {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.9994 16.4767V19.1864C21.0036 20.2223 20.0722 21.0873 19.0264 20.9929C10 21 3 13.935 3.00706 4.96919C2.91287 3.92895 3.77358 3.00106 4.80811 3.00009H7.52325C7.96247 2.99577 8.38828 3.151 8.72131 3.43684C9.66813 4.24949 10.2771 7.00777 10.0428 8.10428C9.85987 8.96036 8.9969 9.55929 8.41019 10.1448C9.69858 12.4062 11.5746 14.2785 13.8405 15.5644C14.4272 14.9788 15.0273 14.1176 15.8851 13.935C16.9855 13.7008 19.7615 14.3106 20.5709 15.264C20.8579 15.6021 21.0104 16.0337 20.9994 16.4767Z' stroke='%2365F200' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    display: block;
                  }
                }
              }

            }

          }
        }
      }
    }
  }

  .nav-row {
    width: 100%;
    padding: 50px 0 40px;
    background: #F7F7F7;
    border-bottom: 1px solid #C09E93;
    @media (max-width: 1050px) {
      display: none;
    }
    ul {
      width: 100%;
      display: flex;
      gap: 50px;
      justify-content: flex-end;
      li {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        &:hover {
          .line {
            width: 100%;
          }
        }
        a {
          color: #503C34;
          font-family: "Open Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          display: flex;
          &.dropdown {
            &::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M8.16737 10.1464C8.39052 9.95118 8.75233 9.95118 8.97549 10.1464L12 12.7929L15.0245 10.1464C15.2477 9.95118 15.6095 9.95118 15.8326 10.1464C16.0558 10.3417 16.0558 10.6583 15.8326 10.8536L12.4041 13.8536C12.1809 14.0488 11.8191 14.0488 11.5959 13.8536L8.16737 10.8536C7.94421 10.6583 7.94421 10.3417 8.16737 10.1464Z' fill='%23503C34'/%3E%3C/svg%3E");
              display: block;
            }
          }
        }
        .line {
          width: 0px;
          height: 1px;
          background: #503C34;
        }
        .submenu {
          display: flex;
          width: 226px;

          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 30px;
          border-radius: 0px 0px 5px 5px;
          background: #FFF;
          box-shadow: 0px 31px 33.6px -31px rgba(0, 0, 0, 0.10);
          position: absolute;
          top: 100%;
          left: 0;
          height: 0px;
          overflow: hidden;
          opacity: 0;
          &.open {
            height: 180px;
            opacity: 1;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px;
            li {
              a {
                color: #503C34;
                font-family: "Open Sans";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .mobile-logo-line {
    display: none;
    @media (max-width: 1050px) {
      display: block;
    }
    .mobile-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 98px;
      @media (max-width: 386px) {
        height: 82px;
      }
      img {
        &:first-child {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          @media (max-width: 386px) {
            width: 180px;
          }
        }
        &:last-child {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          @media (max-width: 386px) {
            width: 180px;
          }
        }
      }

    }
  }
}
.phone-select {
  position: relative;
  padding: 10px 15px;
  border-radius: 3px 3px 0 0;

  &.active {
    background: #fff ;

    .ph-select {
      display: flex;
      gap: 10px;
      align-items: center;
      &.active {
        &::after {
          transform: rotate(180deg);
        }
      }
      p {
        color: #000;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
      }

    }
  }
  .ph-select {
    display: flex;
    gap: 10px;
    align-items: center;
    &.active {
      &::after {
        transform: rotate(180deg);
      }
    }
    p {
      color: #FFF;
      font-family: "Open Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
    }
    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.96967 9.21967C7.26256 8.92678 7.73743 8.92678 8.03033 9.21967L12 13.1893L15.9697 9.21967C16.2625 8.92678 16.7374 8.92678 17.0303 9.21967C17.3232 9.51256 17.3232 9.98743 17.0303 10.2803L12.5303 14.7803C12.2374 15.0732 11.7626 15.0732 11.4697 14.7803L6.96967 10.2803C6.67678 9.98743 6.67678 9.51256 6.96967 9.21967Z' fill='%23C09E93'/%3E%3C/svg%3E");
      display: block;
      transition: .3s ease;
    }

  }
  .phone-select-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0 15px 10px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 11;
    gap: 10px;
    border-radius:0 0 3px 3px;
    background: #FFF;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.05);
    display: none;
    &.active {
      display: flex;
    }
    a {
      color: #22272A;
      font-family: "Open Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: inline;
      width: unset;
      height: unset;
      &:hover {
        color: var(--green);
      }
    }
  }
}

.block1 {

  .content {
    display: flex;
    gap: 50px;
    @media (max-width: 1050px) {
      padding: 0;
    }
    .main-swiper {
      width: calc( 100% - 50px - 390px);
      height: 638px ;
      @media (max-width: 1050px) {
        width: 100%;
        height: 500px ;
      }
      .swiper-slide {
        display: flex;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .navigation {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 15px;
        z-index: 7;
        align-items: center;
        .custom-swiper-button-prev , .custom-swiper-button-next {
          width: 34px;
          height: 34px;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #FFFFFF;
          border-radius: 50px;
          cursor: pointer;
          &:hover {
            background: #008FE1;
            transform: scale(1.5);
            svg path {
              fill: #FFFFFF;
            }
          }
        }
        .custom-swiper-pagination {
          display: flex;
          gap: 10px;
          .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            border-radius: 50px;
            background: #FFFFFF;
            opacity: 1;
            margin: 0;
            padding: 0;
            &.swiper-pagination-bullet-active {
              background: #008FE1;
            }
          }
        }
      }
    }
    .m-block {
      padding: 30px;
      width: 390px;
      background-image: url("./src/images/ad.png");
      background-repeat: no-repeat;
      background-size: cover;
      @media (max-width: 1050px) {
        display: none;
      }
      .text  {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          color: #F00;
          font-family: "Open Sans";
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        span {
          width: 187px;
          color: #22272A;
          font-family: "Open Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

  }
}

.sales-block {
  padding: 50px 0;
  .content {
    position: relative;
    .sale-custom-swiper-button-prev  {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0% , -50%);
      width: 34px;
      height: 34px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border-radius: 50px;
      cursor: pointer;
      z-index: 8;
      @media (max-width: 590px) {
        display: none;
      }
      &:hover {
        background: #008FE1;
        transform: translate(0% , -50%) scale(1.5);
        svg path {
          fill: #FFFFFF;
        }
      }
    }
    .sale-custom-swiper-button-next {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0% , -50%);
      width: 34px;
      height: 34px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border-radius: 50px;
      cursor: pointer;
      z-index: 8;
      @media (max-width: 590px) {
        display: none;
      }
      &:hover {
        background: #008FE1;
        transform: translate(0% , -50%) scale(1.5);
        svg path {
          fill: #FFFFFF;
        }
      }
    }
    .show-more-link {
      width: 100%;
      margin-top: 50px;
      display: flex;
      padding: 15px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0px 10px 16.8px -15px rgba(0, 0, 0, 0.15);
      span {
        color: #22272A;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &:hover {
        background: var(--green);
      }
    }
  }
  .sale-swiper {
    height: 500px;
    @media (max-width: 590px) {
      height: calc( 500px * 4 + 30px * 3);
    }
    .swiper-slide {
      .sale-card {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 590px) {
          height: 500px;
        }
        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
        .sale-shadow {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 141px;
          z-index: 1;
          background: linear-gradient(180deg, rgba(34, 39, 42, 0.00) 0%, rgba(34, 39, 42, 0.80) 73.94%);
          transition: .3s ease;
        }
        .sale-info {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 30px;
          z-index: 3;
          position: absolute;
          top: 0;
          left: 0;
          .label {
            display: flex;
            gap: 0px;
            align-items: center;
            border-radius: 5px;
            background: #C70000;
            padding: 5px 10px;
            justify-content: center;
            flex-shrink: 0;
            width: fit-content;
            span {
              color: #FFF;
              font-family: "Open Sans";
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;

            }
            .icon {
              width: 0;
              overflow: hidden;
            }
          }
          .counter {
            display: inline-flex;
            height: 34px;
            padding: 5px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #22272A;
            span {
              color: #FFF;
              font-family: "Open Sans";
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
        .sale-content {
          transition: .3s ease;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 30px;
          padding: 30px;
          z-index: 2;
          p {
            color: #FFF;
            font-family: "Open Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .link {
            height: 0;
            overflow: hidden;
            a {
              display: flex;
              padding: 15px 20px;
              align-items: center;
              gap: 10px;
              border-radius: 5px;
              border: 1px solid rgba(255, 255, 255, 0.50);
              width: fit-content;
              align-items: center;
              span {
                color: #FFF;
                font-family: "Open Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              .icon {
                display: flex;
                align-items: center;
                width: 0;
                overflow: hidden;
              }
              &:hover {
                background: var(--green);
                gap: 10px;
                span {
                  color: #22272A;
                }
                .icon {
                  width: 24px;
                  svg path {
                    fill: #22272A;
                  }
                }
              }
            }
          }

        }
        &:hover {
          transition: .3s ease;
          .sale-shadow {
            transition: .3s ease;
            height: 500px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 73.94%);
          }
          .sale-content {
            .link {
              height: 63px;
            }

          }
          .sale-info {
            .label {
              gap: 10px;
              .icon {
                width: 24px;
              }
            }
          }
        }
      }
    }

  }
}

.news-block {
  background: #FFFFFF;
  padding: 100px 0;
  .content {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    @media (max-width: 1382px) {
      gap: 20px;
    }
    .news-info {
      width: calc((100% - 50px * 4) / 5);
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      @media (max-width: 1382px) {
        width: calc((100% - 20px * 4) / 5);
      }
      @media (max-width: 1292px) {
        width: calc((100% - 20px * 3) / 4);
      }
      @media (max-width: 1110px) {
        width: calc((100% - 20px * 2) / 3);
      }
      @media (max-width: 768px) {
        width: calc((100% - 20px ) / 2);
      }
      @media (max-width: 500px) {
        width: 100%;
      }
      h2 {
        color: #553F37;
        font-family: "Open Sans";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @media (max-width: 500px) {
          text-align: center;
        }
      }
      p {
        color: #553F37;
        font-family: "Open Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 500px) {
          display: none;
        }
      }
      .social {
        display: flex;
        gap: 20px;
        align-items: center;
        @media (max-width: 500px) {
          display: none;
        }

        span {
          color: #22272A;
          font-family: "Open Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
        }
        a {
          width: 50px;
          height: 50px;
          background: #008FE1;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            transform: scale(1.3);
            background: #62C6FF;
          }
        }
      }
    }
    .news-card {
      width: calc((100% - 50px * 4) / 5);
      overflow: hidden;
      position: relative;
      border-radius: 5px;
      @media (max-width: 1382px) {
        width: calc((100% - 20px * 4) / 5);
      }
      @media (max-width: 1292px) {
        width: calc((100% - 20px * 3) / 4);
      }
      @media (max-width: 1110px) {
        width: calc((100% - 20px * 2) / 3);
      }
      @media (max-width: 768px) {
        width: calc((100% - 20px ) / 2);
      }
      @media (max-width: 500px) {
        width: 100%;
        height: 512px;
        display: flex;
        height: 512px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 6.465px;
        border: 1px solid #E2E2E2;
        background: #FFF;
        img {
          height: 340px !important;
        }
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
        .shadow {
          height: 236px;
          background: linear-gradient(180deg, rgba(34, 39, 42, 0.00) 0%, rgba(34, 39, 42, 0.80) 73.94%);
        }
        .card-content {
          span {
            color: var(--green);
          }
          p {
            color: var(--green);
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 299px;
        background: linear-gradient(179deg, rgba(255, 255, 255, 0.00) 1.15%, rgba(255, 255, 255, 0.88) 44.16%);
        @media (max-width: 500px) {
          display: none;
        }
      }
      .card-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        @media (max-width: 500px) {
          position: relative;
        }
        span {
          color: #22272A;
          font-family: "Open Sans";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        p {
          color: #22272A;
          font-family: "Open Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
  .show-more-link {
    width: 100%;
    margin-top: 50px;
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 10px 16.8px -15px rgba(0, 0, 0, 0.15);
    span {
      color: #22272A;
      font-family: "Open Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &:hover {
      background: var(--green);
    }
  }
}

.map {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  background: #723D2C;
  position: relative;
  @media (max-width: 768px) {
    height: 823px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .map-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 38px 0;
    @media (max-width: 768px) {
      padding-bottom: 50px;
    }
    .content {
      display: flex;
      justify-content: flex-end;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
      }
      .locations {
        border-radius: 5px;
        background: #F7F7F7;
        box-shadow: 0px 18px 17.8px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        ul {
          display: flex;
          flex-direction: column;
          li {
            display: flex;
            width: 347px;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            @media (max-width: 450px) {
              width: 100%;
            }
            &:hover {
              border-radius: 5px;
              background: #FFF;
              box-shadow: 0px 10px 16.8px -15px rgba(0, 0, 0, 0.25);
            }
            p {
              color: #22272A;
              font-family: "Open Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            span {
              color: #22272A;
              font-family: "Open Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        a {
          display: flex;
          padding: 15px 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          align-self: stretch;
          border-radius: 5px;
          background: var(--green);
          width: 347px;
          @media (max-width: 450px) {
            width: 100%;
          }
          &:hover {
            background: var(--brown);
            span {
              color: #FFFFFF;
            }
            svg path {
              fill: #FFFFFF;
            }
          }
          span {
            color: #22272A;
            font-family: "Open Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }

}

.footer {
  width: 100%;
  padding: 75px 0;
  background-image: url("./src/images/texture.png");
  background-repeat: repeat;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(90, 66, 59, 0.7);
    z-index: 1  ;
  }
  .content {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 50px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .logos {
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      gap: 33px;
      align-self: stretch;
      border-radius: 5px;
      flex-shrink: 0;
    }
    .footer-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 50px;
        }
        a {
          color: #FFF;
          font-family: "Open Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          gap: 10px;
          align-items: center;
          &.phone {
            &::before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.9995 16.4767V19.1864C21.0037 20.2223 20.0723 21.0873 19.0265 20.9929C10.0001 21 3.00006 13.935 3.00713 4.96919C2.91294 3.92895 3.77364 3.00106 4.80817 3.00009H7.52331C7.96253 2.99577 8.38835 3.151 8.72138 3.43684C9.66819 4.24949 10.2772 7.00777 10.0429 8.10428C9.85994 8.96036 8.99696 9.55929 8.41026 10.1448C9.69864 12.4062 11.5747 14.2785 13.8405 15.5644C14.4272 14.9788 15.0274 14.1176 15.8851 13.935C16.9855 13.7008 19.7615 14.3106 20.5709 15.264C20.858 15.6021 21.0105 16.0337 20.9995 16.4767Z' stroke='%2365F200' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              display: block;
            }
          }
          &.email {
            &::before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M2.33337 6C2.33337 4.89543 3.2288 4 4.33337 4H20.3334C21.4379 4 22.3334 4.89543 22.3334 6V18C22.3334 19.1046 21.4379 20 20.3334 20H4.33337C3.22881 20 2.33337 19.1046 2.33337 18V6ZM5.85197 6L12.3334 11.6712L18.8148 6H5.85197ZM20.3334 7.32877L12.9919 13.7526C12.6149 14.0825 12.0519 14.0825 11.6749 13.7526L4.33337 7.32877V18H20.3334V7.32877Z' fill='%2365F200'/%3E%3C/svg%3E");
              display: block;
            }
          }
        }
        .social {
          display: flex;
          gap: 20px;
          align-items: center;
          @media (max-width: 500px) {
            display: none;
          }

          span {
            color: #FFF;
            font-family: "Open Sans";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          a {
            width: 50px;
            height: 50px;
            background: #008FE1;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              transform: scale(1.3);
              background: #62C6FF;
            }
          }
        }
      }
      .line {
        background: #C09E93;
        width: 100%;
        height: 1px;
        flex-shrink: 0;
      }
      .politic-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 50px;
        }
        a {
          color: #FFF;
          font-family: "Open Sans";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration-line: underline;
        }
        .copy {
          display: flex;
          gap: 50px;
          align-items: center;
          span {
            color: #C09E93;
            font-family: "Open Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &:last-child {
              display: flex;
              padding: 5px 10px;
              align-items: center;
              gap: 10px;
              border-radius: 5px;
              background: #C09E93;
              color: #22272A;
              font-family: "Open Sans";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 12;
  display: none;
  padding: 0 16px;

  &.open {
    display: block;
  }
}
.modal {
  max-width: 1000px;
  width: 100%;
  height: 100vh;
  background: #F2F2F2;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 20;
  padding: 50px 50px 0 50px;
  transition: right .5s linear, opacity .2s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media (max-width: 1024px) {
    padding: 30px 30px 0 30px;
  }
  &.contacts-modal {
    &.active {
      right: 0;
      opacity: 1;
    }
  }
  &.partners-modal {
    &.active {
      right: 0;
      opacity: 1;
    }
  }
  &.sale-single-modal {
    &.active {
      right: 0;
      opacity: 1;
    }
  }
  &.azs-modal {
    &.active {
      right: 0;
      opacity: 1;
    }
  }
  &.news-single-modal {
    &.active {
      right: 0;
      opacity: 1;
    }
  }
  &.about-modal {
    &.active {
      right: 0;
      opacity: 1;
    }
  }
  .head-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    .close-btn {
      cursor: pointer;
    }
    h2 {
      color: #22272A;
      font-family: "Open Sans";
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 1024px) {
        font-size: 30px;
      }
    }
  }
  .modal-content {
    overflow-y: auto;
    scrollbar-color:  transparent transparent;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 9em;
      box-shadow: inset 1px 1px 10px transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: transparent;
    }
    .contacts-block {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .contacts-block-item {
        display: flex;
        flex-direction: column;
        .contacts-block-item-title {
          color: #22272A;
          font-family: "Open Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 22.5px */
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        .location {
          color: #262D2A;
          font-family: "Open Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
        a {
          color: #262D2A;
          font-family: "Open Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          &.email {
            color: #008FE1;
            font-family: "Open Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            text-decoration-line: underline;
          }
        }
      }
      .social {
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 10px;
        @media (max-width: 500px) {
          display: none;
        }

        span {
          color: #575D61;
          font-family: "Open Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        a {
          width: 46px;
          height: 46px;
          background: #008FE1;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            transform: scale(1.3);
            background: #62C6FF;
          }
        }
      }
      .rekvizites-btn {
        display: flex;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        border: 1px solid #E6E6E6;
        background: #FFF;
        box-shadow: 0px 18px 14.1px -20px rgba(0, 0, 0, 0.10);
        color: #22272A;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: fit-content;
        &:hover {
          background: var(--green);
        }
      }
      .map {
        height: 450px;
        width: 100%;
        border-radius: 5px;
        background: #D9D9D9;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .partners-block {
      display: flex;
      flex-direction: column;
      .partners-card {
        display: flex;
        width: 100%;
        padding: 30px;
        align-items: center;
        gap: 30px;
        border-radius: 5px;
        background: #F7F7F7;
        @media (max-width: 768px) {
          flex-direction: column;

        }
        &:hover {
          border-radius: 5px;
          background: #FFF;
          box-shadow: 0px 31px 33.6px -31px rgba(0, 0, 0, 0.10);
          .img {
            img {
              transform: scale(1.3);
            }
          }
        }
        .img {
          display: flex;
          width: 100px;
          height: 100px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          overflow: hidden;
          border-radius: 200px;
          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }

        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 5px;
          @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
          }
          p {
            color: #22272A;
            font-family: "Open Sans";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 37.5px */
            text-transform: uppercase;
            @media (max-width: 768px) {
              font-size: 20px;
            }
          }
          a {
            color: #22272A;
            font-family: "Open Sans";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
    }
    .banner {
      width: 100%;
      height: 366px;
      border-radius: 5px;
      overflow: hidden;
      flex-shrink: 0;
      @media (max-width: 768px) {
        height: 250px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      p {
        color: #262D2A;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 30px */
        &.chapter-title {
          color: #22272A;
          font-family: "Open Sans";
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 22.5px */
          text-transform: uppercase;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 30px;
        @media (max-width: 768px) {
          padding: 0;
        }
        li {
          color: #262D2A;
          font-family: "Open Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 30px */
          display: flex;
          gap: 10px;
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z' fill='%23008FE1'/%3E%3C/svg%3E");
            display: block;
            margin-top: 4px;
          }
        }
      }
    }
    .azs-container {
      display: flex;
      flex-direction: column;
      .box {
        width: 100%;
        border-radius: 5px;
        background: #F7F7F7;
        position: relative;
        &:hover {
          border-radius: 5px;
          background: #FFF;
          box-shadow: 0px 31px 33.6px -31px rgba(0, 0, 0, 0.10);
        }
        &.active {
          border-radius: 5px;
          background: #FFF;
          box-shadow: 0px 31px 33.6px -31px rgba(0, 0, 0, 0.10);
          .label {
            .show-icon {
              transform:translateY(-50%) rotate(180deg);
            }
          }
        }
        .label {
          padding: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 30px;
          position: relative;
          cursor: pointer;
          @media (max-width: 768px) {
            font-size: 20px;
          }
          .label-cont {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            @media (max-width: 768px) {
              flex-wrap: wrap;
              gap: 20px;
            }
          }
          .info {
            max-width: 396px;
            width: 100%;
            p {
              color: #22272A;
              font-family: "Open Sans";
              font-size: 25px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 37.5px */
              @media (max-width: 1024px) {
                font-size: 20px;
              }
            }
            span {
              color: #22272A;
              font-family: "Open Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @media (max-width: 1024px) {
                font-size: 18px;
              }
            }
          }
          .location {
            display: flex;
            padding: 10px 20px;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            border: 1px solid #E6E6E6;
            flex-shrink: 0;
            &:hover {
              background: var(--green);
              border: 1px solid var(--green);
              svg path {
                fill: #22272A;
              }
            }
            span {
              color: #22272A;
              font-family: "Open Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .phone {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-left: 30px;
            border-left: 1px solid #E2E2E2;
            @media (max-width: 500px) {
              border-left: none;
              padding-left: 0;
            }
            p {
              color: #22272A;
              font-family: "Open Sans";
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 22.5px */
              text-transform: uppercase;
            }
            a {
              color: #22272A;
              font-family: "Open Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              white-space: nowrap;
              @media (max-width: 1024px) {
                font-size: 18px;
              }
            }
          }

        }
        .content {
          position: relative;
          overflow: hidden;
          max-height: 0;
          transition: 0.3s;
          width: 100%;
          padding: 0;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          .box-content-wrapper {
            display: flex;
            flex-direction: column;
            border-top: 1px solid #E2E2E2;
            gap: 30px;
            padding: 30px;
            .types {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              gap: 10px;
              p {
                color: #22272A;
                font-family: "Open Sans";
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 22.5px */
                text-transform: uppercase;
              }
              .type {
                display: flex;
                padding: 20px;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                background: #F7F7F7;
                cursor: pointer;
                &:hover {
                  background: transparent;
                  p {
                    transform: scale(1.5);
                  }
                }
                p {
                  border-radius: 100px;
                  background: #65F200;
                  display: flex;
                  flex-direction: column;
                  width: 60px;
                  height: 60px;
                  justify-content: center;
                  align-items: center;
                  color: #22272A;
                  text-align: center;
                  font-family: "Open Sans";
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  span {
                    color: #22272A;
                    font-family: "Open Sans";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                  }

                }
              }
            }
            .line {
              width: 100%;
              height: 1px;
              flex-shrink: 0;
              background: #E2E2E2;
            }
            .info {
              display: flex;
              align-items: flex-start;
              gap: 30px;
              align-self: stretch;
              @media (max-width: 1024px) {
                flex-direction: column;
              }
              ul {
                max-width: 310px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 30px;
                @media (max-width: 1024px) {
                  max-width: 100%;
                }
                li {
                  color: #22272A;
                  font-family: "Open Sans";
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  display: flex;
                  gap: 10px;
                  &::before {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z' fill='%23008FE1'/%3E%3C/svg%3E");
                    display: block;
                    margin-top: 4px;
                  }
                }
              }
              .image {
                display: flex;
                align-items: flex-start;
                flex-grow: 1;
                min-height: 220px;
                align-self: stretch;
                border-radius: 5px;
                background: #008FE1;
                overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                  object-position: center;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }
}